*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}
body{
    min-height: 100vh;
    width: 100%;
    background-image:url(../Images/back7.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    border:  2px solid rgba(255, 255,2550.5,);
}
.form-box{
    position:relative;
    width: 400px;
    height: 100%;
    border: 2px solid white;
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
.form-box h2{
    color: red;
    text-align: center;
    font-size: 32px;
}
.form-box .input-box{
    position: relative;
    margin: 15px 0;
    border-bottom: 2px solid black;
}
.form-box .input-box input{
    width: 300px;
    height: 45px;
    background: transparent;
    border: none;
    outline: none;
    padding: 0 15px 0 5px;
    color: white;
    font-size: 16px;
}
.form-box .input-box p{
    bottom: 10px;
}
i{
    position: absolute;
    color: black;
    top: 13px;
    right: 0;
}
input::placeholder{
    color: black;
}
.btn{
    color: white;
    background-color: blue;
    width: 100%;
    height: 50px;
    outline: none;
    border: none;
    font-size: 17px;
    cursor: pointer;
    box-shadow: 3px 0 10px rgba(0,0,0,0.5);
}
.group{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}
.group span a{
    color: white;
    position: relative;
    top: 10px;
    text-decoration: none;
    font-weight: 500;
}
.group a:focus{
    text-decoration: underline;
}

 .form-box #usernameError,#emailError,#passwordError,#ConfirmPasswordError{
    color: red;
    font-family: "poppins",sans-serif;
}


















