*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body{
    background-color: #3EB489;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    width: 500px;
    padding: 30px 40px;
}
.container .heading{
    font-size: 30px;
    text-align: center;
    margin: 20px 0px;
}
.container .trailer{
    width: 100%;
    height: 250px;
}
.trailer .video{
    width: 100%;
    height: 100%;
}
.button{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}
.button .btn{
    text-decoration: none;
    border: 2px solid black;
    color: black;
    padding: 13px 16px;
    position: relative;
    display: inline;
    letter-spacing: 1px;
    border-radius: 10px;
    transition: 0.4s;
}
.button .btn:hover{
    color: white;
    background: green;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    z-index: 1;
}

